body {
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  color: $text;
}
input,
button {
  font-smoothing: antialiased;
}
html {
  font: 100%/1.5 'Roboto', 'Roboto Condensed', sans-serif;
}
h1 {font-size: 2em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.17em;}
h4 {font-size: 1em;}
h5 {font-size: 0.83em;}
h6 {font-size: 0.75em;}
p {
  line-height: 1.5;
  margin: 0 0 1em;
}
a,
a:visited {text-decoration: underline;}
a:hover {text-decoration: none;}
a:active,
.active {
  text-decoration: none;
}
main a {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  &:visited,
  &:focus,
  &:active {
    color: inherit;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
  }
  &:hover {
    color: $dark;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
  }
}
strong {font-weight: bold;}
em {font-style: italic;}
code,
pre {
  font-family: 'Source Code Pro';
  font-size: 1em;
  line-height: 1.5em;
  background: $gray;
  color: $white;
  border-radius: 3px;
  padding: 1em;
}
pre {
  padding-top: 3em;
}
pre:before {
  overflow: hidden;
  display: block;
  padding: .5em;
  position: absolute;
  margin: -3em -1em;
  width: calc(70% - 2.5em);
  max-width: 860px;
  color: $white;
  content: attr(data-lang);
  text-transform: uppercase;
  font-family: 'Roboto', 'Open Sans', serif, sans-serif;
  @media (max-width: 500px) {
    width: calc(90% - 2.5em);
  }
}
p code {
  padding: 2px;
}
h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  padding: .7em !important;
}
li code {
  padding: .35em;
}
blockquote {
  font-style: italic;
  border-left: 2px solid #292929;
  margin-left: 0;
  padding: 5px;
  padding-right: 0;
  padding-left: 1em;
  font-weight: bold;
  cite {
    display: block;
    font-weight: normal;
    &:before {
      content: "-";
      padding-left: .5em;
    }
  }
}
.lead {
  font-weight: 200;
  font-size: 1.35em;
  margin: 3em auto;
  -webkit-transition: margin .3s ease;
  transition: margin .3s ease;
  a:last-child {
    display: inline-block;
  }
  @media (max-width: 500px){
    margin: 0.5em auto;
    -webkit-transition: margin .3s ease;
    transition: margin .3s ease;
  }
}
.text-center,
.text-cener>* {
  text-align: center !important;
}
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {page-break-after: avoid;}
}
